@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial","Microsoft YaHei",SimHei;
  font-size: 16px;
}

#app {
  height: 100%;
}

/*player start*/
.player {
  position: relative;
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*player end */


/*CDs start*/
.CD {
  position: absolute;;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url('../images/test1.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

  &.isCenter {
    animation-name: CDRotate;
    animation-iteration-count: infinite;
    animation-duration: 36s;
    animation-timing-function: linear;

    @keyframes CDRotate{
      0% {transform:rotate(0deg);}
      100% {transform:rotate(360deg);}
    }
  }

  &.isPlay {
    animation-play-state: running;
  }

  &.isPause {
    animation-play-state: paused;
  }

  &.isInverse {
    .centerBack {
      opacity: 0.7;
    }
  }
  @at-root {
    .centerImg {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      box-shadow: 0px 0px 5px 4px #535252;
      position: absolute;
      top:50%;
      left:50%;
      margin: -65px 0 0 -65px;
    }
    .centerBack{
      position: absolute;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;
      left:50%;
      top:50%;
      margin: -65px 0 0 -65px;
      text-align: center;
      color : rgb(212, 213, 214);
      background-color: #000;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}
/*CDs end*/


/* controller -- start*/
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;

  @at-root {
    .contollerUnit {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px;

      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;

      transform: scale(.5);
      transition: transform .6s ease-in-out, background-color .3s;
    }
    .is-center {
        background-color: #888;
        transform: scale(1);
    }
    .is-pause {
      &::after {
        color: #FFF;
        line-height: 30px;
        font-family: "iconfont";
        font-size: 120%;
        content: "\f004c";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    .is-play {
      &::after {
        color: #FFF;
        line-height: 30px;
        font-family: "iconfont";
        font-size: 120%;
        content: "\f0067";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}
/* controller -- end*/
